@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Megrim');

$primary1: #000;
$primary2: #fff;
$secondary1: #808080;
$header-font: 'Megrim', 'Railway', sans-serif;
