@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary1: #000;
$primary2: #fff;
$secondary1: #808080;
$header-font: 'Megrim', sans-serif;
$body-font: 'Roboto', sans-serif;
